<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Class Management", "Index", "ClassMasters")</li>
    <li>@Html.ActionLink("Teacher Management", "Index", "TeacherMasters")</li>
    <li>@Html.ActionLink("Student Management", "Index", "StudentMasters")</li>
</ul>
